<div class="d-flex justify-content-center">
  <div class="card shadow-sm">
    <img src="{{ include.image }}" style="{{include.imgStyle}}" class="bd-placeholder-img card-img-top" />

    <div class="card-body">
      <p class="card-text text-center"><b>{{include.name}}</b></p>
      <p class="text-center text-muted">Facebook group</p>
      <div class="d-flex justify-content-center align-items-center">
          <a class="btn btn-primary" href="{{ include.link }}">Visit group</a>
      </div>
    </div>
</div>

